<div class="container">
<!-- 
  <form [formGroup]="form"  (ngSubmit) = "createElement()" class="row g-3">
    <div class="col-auto">
        <input type="text" formControlName="name" class="form-control" placeholder="Nombre">
    </div>
    <div class="col-auto">
        <input type="text" formControlName="description" class="form-control" placeholder="Descripción">
    </div>
    <div class="col-auto">
        <input type="text"  formControlName="image" class="form-control" placeholder="Imagen">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Agregar</button>
    </div>
    <div *ngIf="!form.valid && isFormSubmitted" class="alert alert-danger" role="alert">
      Datos incompletos
    </div>
  </form>  -->
  <app-show-form (createElement)="createElement($event)"></app-show-form>

  <app-sort-cards (sortByAlphabetic)="sortByAlphabetic()" (reverseList)="reverseList()"></app-sort-cards>

  <div class="div container d-flex">
    <app-show-card *ngFor="let show of shows" [show] = "show" (deleteCard) = "deleteElement($event)"></app-show-card>
  </div>
</div>